@page
@model FoodSite.Pages.Ingredients.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.ServingSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.ServingSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.ServingSizeUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.ServingSizeUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Protein)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Protein)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Carbs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Carbs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Fat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Fat)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Ingredient.ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
