@page
@model FoodSite.Pages.Ingredients.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.ServingSize)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.ServingSize)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.ServingSizeUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.ServingSizeUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Calories)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Calories)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Protein)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Protein)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Carbs)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Carbs)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ingredient.Fat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ingredient.Fat)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Ingredient.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
